<html>
<head>
 <title>My VP DA on my Flask Web site </title>
 </head>
<body style="margin-left:2vw;background:lightcyan;">
<b><font color=blue size=6><font color=red size=7>My VP DA List</font>
<img src="http://clipart-library.com/images/BTaropdpc.gif" width="128" align="left">
<pre><a target=_blank href="/111">Ball-throw1 丟球＋三個參數</a>
 <a target=_blank href="/222">Ball-throw2 丟球＋一個參數</a>
 <a target=_blank href="/b3/">自由落體　假裝 Ball-throw1 (三參數)</a
 ></font></pre>
 <h2 style="color:orange;">====== ====== ====== ====== ===== ======</h2>
 <div style="background:red;height:3px;width:58vw;"></div>
 <div style="background:green;height:3px;width:63vw;margin-top:2px;"></div>
 <div style="background:blue;height:3px;width:58vw;margin-top:2px;"></div>
</body>
</html>