<!DOCTYPE html> <!--- 編碼用 utf-8; use utf-8, Put this file in /templates/index.html  ----->
<head>
 <title>My VP DA on my Flask Web site </title>
 <link rel="shortcut icon" type="image/x-icon" href="/static/img/myicon.png">
 </head>
<body style="margin-left:2vw;background:lightcyan;">
<b><font color=blue size=5><font color=red 
   size=7>My Cyber / VP DA List -- {{myname}} </font>
<img width="128" align="left" 
  src="https://thumbs.gfycat.com/DistantOrangeIndianpalmsquirrel-size_restricted.gif" >
  <! https://thumbs.gfycat.com/DistantOrangeIndianpalmsquirrel-size_restricted.gif >
  <! https://i.gifer.com/Z8Dq.gif >
  <! https://media.giphy.com/media/3JP7cuyaPh2UiDFlwD/giphy.gif >
  <! http://clipart-library.com/images/BTaropdpc.gif  >
  <! https://i.gifer.com/Z8Dq.gif >
<b><pre><font color=darkred size=6>Cyber Devices List ({{myip}}) </font>
 <a target=_blank href="/static/bulb/index.html">我的 Bulb 燈泡</a>
 <a target=_blank href="/static/bulb2/index.html">Bulb2 會<font color=red
   >自動</font><font color=darkGreen size=6>變色</font>的 Bulb 燈泡</a>
<hr style="border-top: 1px; solid red;width:66vw;" />
<font color=darkGreen size=6
     >VPython Devices List</font>
 <a target=_blank href="/static/vp/index.html#Ball-throw1">Ball-throw1 丟球, 三個參數</a>
 <a target=_blank href="/static/vp/index.html#Ball-throw2">Ball-throw2 丟球, 一個參數</a>
 <a target=_blank href="/static/vp/index.html#Free-fall">自由落體-裝Ball-throw1,三參數)</a>
 <a target=_blank href="/static/vp/index.html#V_Dummy">Dummy_Device, 要有 V_Dummy.py</a>
 <a target=_blank href="/static/vp/index.html#haha">用到檔案 haha.py</a>
 <a target=_blank href="/static/vp/index.html#penw">蛇擺</a>

<font color=red>＊請把 .py 檔案放 /static/vp/py/ 內; 注意 dai.js 要抓這裡面的 .py </font
 ></font></pre>
<h2 style="color:orange;">====== ====== ====== ====== ===== ======</h2>
<b style="color:blue;font-size:24px;">
<a target=_blank href="https://www.cwb.gov.tw/V8/C/">中央氣象局</a> <br/>
<a target=_blank href="https://www.cwb.gov.tw/V8/C/W/OBS_Station.html?ID=C0D66">新竹市氣象站</a>
<br/>
<a target=_blank href="https://www.cwb.gov.tw/V8/C/W/OBS_Station.html?ID=C0D58">新竹寶山氣象站</a>
<br/>
<a target=_blank href="https://www.cwb.gov.tw/V8/C/W/OBS_Station.html?ID=72D08">新竹五峰氣象站</a>
<br/>
<a target=_blank href="https://www.cwb.gov.tw/V8/C/W/OBS_Station.html?ID=46741">台南氣象站</a>
 <div style="background:red;height:3px;width:58vw;"></div>
 <div style="background:green;height:3px;width:63vw;margin-top:2px;"></div>
<img width="128" align="left" 
  src="https://i.pinimg.com/originals/b2/c7/f2/b2c7f2a644b94acf26b05ce6245be311.gif" 
  >  <img width="128" align="absMiddle"
  src="https://thumbs.gfycat.com/BasicBothFish-small.gif">
 <div style="background:blue;height:3px;width:58vw;margin-top:2px;"></div>
</body>
</html>